/*
 * LESS COLOR DEFAULT
 */

@color-primary: #009bc2;
@color-default: #b0b5b9;
@color-success: #78CD51;
@color-info: #53bee6;
@color-warning: #e4ba00;
@color-danger: #ec6459;

@color-background: #f1f2f7;
@color-dark-gray: #797979;
@color-light-gray: #C8CCD7;

@color-navi-active-bg: #191b24;


body {
    margin: 0!important;
    padding: 0!important;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    color: #797979;
    width: 100%;
    background-color: @color-background;
}

ul li {
    list-style: none;
}

img{
    // width: 100%;
    max-width: 100%;
}
.dataTable img{
    max-width: none;
}
.dataTable tbody tr:hover td {
  background-color: #eeeeee;
  cursor: pointer;
}

small{
    font-size: 12px;
}

a,
a:focus {
    text-decoration: none;
    outline: none;
}

a:hover{
    text-decoration: none;
    color: #EF6F66;
}

input[type="submit"]{
    color: #FFF !important;
}

::selection {
    color: #fff;
    background: #FF6C60;
}

::-moz-selection {
    color: #fff;
    background: #FF6C60;
}

/*
 * OVERALL LAYOUT
 */

#container{
    width: 100%;
    height: 100%;
}
    
#header{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #FFF;
    height: 55px;
    border-bottom: 1px solid #e9e9e9;

    .logo{
        margin-left: 10px;
        margin-top: 5px;
        font-size: 20px;
        font-weight: bold;
        color: #555 !important;
        float: left;
        img{
            height: 45px;
        }
    }

    .fa-bars-wrapper{
        margin-top: 13px;
        font-size: 20px;
        float: left;
        color: @color-light-gray;
    }

    .account-wrapper{
        >a{
            height: 55px;
            float: right;
            cursor: pointer;

            &:hover{
                background-color: #f9f9f9;
            }
        }

        .dropdown-menu{
            margin-right: 5px;
        }

        .avatar{
            width: 40px;
            margin: 8px;
            margin-left: 20px;

            img{
                border-radius: 50%;
            }
        }

        .name{
            display: block;
            margin: 16px;
            font-size: 16px;
        }
    }
}


#navi{
    position: fixed;
    top: 55px;
    background-color: #242633;
    height: 100%;
    width: 250px;
    float: left;
    overflow: scroll;

    .sidebar-menu{
        padding-bottom: 50px;

        li{
            width: 100%;
        }

        li > a{
            color: #6f7391;
            width: 100%;
            position: relative;
            display: block;
            padding: 15px 15px;
            transition: all 0.2s;
            font-size: 13px;

            &:hover{
                color: #e5e5e5;
                background-color: @color-navi-active-bg;
            }

            i{
                width: 15px;
                margin-right: 10px;
                text-align: center;
            }
        }

        li > a.active{
            background-color: @color-primary;
            color: #FFF;
        }

        // 子選單
        ul.sub li {
            padding-left: 20px;

            a:hover{
                background-color: #242633;
            }
        }
    }
}


#main{
    position: absolute;
    height: auto;
    width: auto;
    left: 250px;
    right: 0;
    top: 55px;
    overflow: hidden;
    padding: 15px;

    .title-wrapper{
        width: 100%;
        min-height: 55px;
        overflow: hidden;
        margin-bottom: 20px;

        .title-content{
            width: 40%;

            h3{
                margin-top: 0;
            }
        }

        .title-plus{
            width: 60%;
            text-align: right;
            padding-top: 4px;
        }

    }
}

.spinner-wrapper{
    display: inline-block;
    padding-left: 10px;
    >i{
        font-size: 20px;
        margin-right: 3px;
    }
}

.modal-black{
    color: #FFF;
    .spin-big-icon{
        font-size: 60px;
    }
}

.modal-body-div{
    clear: both; 
    height: auto; 
    overflow: hidden; 
    padding: 20px;

    button{
        margin: 20px auto 0 auto;
    }
}

.modal-sending{
    color: #FFF;
    text-align: center;
    margin-top: 100px;
}

/*
* index.php
*/

#login{
    width: 400px;
    // height: 300px;
    background: #FFF;
    margin: 5% auto 0 auto;
    border-radius: 6px;

    .login-header{
        background-color: @color-info;
        text-align: center;
        padding: 15px;
        color: #FFF;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
    }

    .login-body{
        padding: 20px;

        input{
            margin-bottom: 10px;
            color: @color-dark-gray;
            font-size: 14px;
        }


    }
}


/*
* BOOTSTRAP RESET CREATED BY ALEX
*/

.dropdown-menu{
    font-size: 13px;

    li > a{
        &:hover{
            background-color: @color-default;
        }
    }

}

.progress{
    margin-bottom: 0;
}

.form-control{
    color: #333333 !important;
}

.table-noborder{
    tr, td{
        border-top: 0 !important;
    }
}

.panel-heading{
    span.label{
        margin: 0 2px;
    }
}

/*
* LAZY SETTING BY ALEX
*/


// DEFAULT COLOR
.primary{
    color: @color-primary;
}

.default{
    color: @color-default;
}

.success{
    color: @color-success;
}

.info{
    color: @color-info;
}

.warning{
    color: @color-warning;
}

.danger{
    color: @color-danger;
}


// SET WIDTH
.wp100{
    width: 100%;
}

.wp50{
    width: 50%;
}

.wp25{
    width: 25%;
}

.wf200{
    width: 200px;
}



/* Base styles (regardless of theme) */
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}
 
/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}


.slides-sortable li{
    overflow: hidden;
    height: auto;
    cursor: move;
    margin: 0 !important;
    padding-top: 15px;
    h3{
        float: left;
        margin: 0 15px;
    }
    .slides-img-wrapper{
        min-height: 150px;
        margin-right: 3%;
        float: left;
        img{        
            height: auto;
            max-width: 245px;
        }
    }
    .slides-content-wrapper{
        width: 57%;
        float: left;
        margin-bottom: 10px;
        table{
            width: 100%;
            tr td{
                padding: 0px 10px 8px 0px;
                vertical-align: top;
            }
        }
    }

}

// ---- 01/16 Eddie
label {

    margin-right: 10px;

    input[type="checkbox"] {
        margin-right: 3px;
    }

}

.panel-heading {

    .notes {
        font-size: 13px;
        color: #ff6c60;
    }

}

